# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example
!.env.public_domain_placeholder

# Testing
coverage

# Temporary files
temp_Scripts/

.env

test-openai-direct.js

test-openai.js
test-function-local.js
